<div class="navbar">
  <a href="https://www.metropolitan.ac.rs/">Univerzitet Metropolitan</a>
  <a href="https://www.facebook.com/UniverzitetMetropolitan/">Facebook</a>
  <div class="dropdown">
    <button class="dropbtn">Meni
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <ul>
        <li><a routerLink="offers" routerLinkActive="active">Ponuda</a></li>
        <li><a routerLink="recommendations" routerLinkActive="active">Preporuka</a></li>
        <li><a routerLink="about" routerLinkActive="active">O nama</a></li>
      </ul>
    </div>
  </div>
  <a routerLink="rooms">Dodavanje sobe</a>
</div>
