<div class="content">
  <h2>Dodavanje sobe</h2>
  <div>
    <form [formGroup]="roomForm">
      <label>Broj sobe:</label><br>
      <input type="number" #roomNumber formControlName="roomNumber" required><br>
      <label>Sprat:</label><br>
      <input type="number" #floor formControlName="floor" required><br>
      <label>Opis:</label><br>
      <input type="text"
             #description
             formControlName="description" required (ngModelChange)="checkDescription(description.value)"><br>
      <div *ngIf="isControlDirty('description') && !this.descriptionValid">
        <span>Opis mora imati bar 6 karaktera!</span><br>
      </div>
      <label>Cena:</label><br>
      <input type="number" #price formControlName="price" required><br><br>
      <div *ngFor="let option of optionList, let i = index">
        <label>{{ option.name }}</label>
        <input type="checkbox"
               [checked]="option.checked"
               (ngModelChange)="option.checked = $event"
               formControlName="option">
        <div *ngIf="option.checked">
          <span>Račun će biti uvećan za {{option.price}} dolara.</span><br>
        </div>
      </div>
      <br>
      <label>Broj noći:</label><br>
      <input type="number" #numberOfNights formControlName="numberOfNights" required><br>
      <button
        [disabled]="roomForm.invalid"
        (click)="addRoom(roomNumber, floor, description, price)">
        Submit
      </button>
    </form>
  </div>
  <div>
    <h3>Rooms</h3>
    <table>
      <tr>
        <td>Room number</td>
        <td>Floor</td>
        <td>Description</td>
        <td>Price</td>
      </tr>
      <tr *ngFor="let room of rooms">
        <th>{{room.roomNumber}}</th>
        <th>{{room.floor}}</th>
        <th>{{room.description}}</th>
        <th>{{room.price}}</th>
        <th>
          <button
            (click)="editRoom(room)">
            Edit
          </button>
        </th>
        <th>
          <button
            (click)="deleteRoom(room.id)">
            Delete
          </button>
        </th>
      </tr>
    </table>
  </div>
</div>
